@page "/fetchdata"
@inject blazor_server_cloudinary.services.FileUploadService FileUploadService

@if (!string.IsNullOrEmpty(FileUploadService.UploadedFileUrl))
{
    <p>URL of the uploaded file: @FileUploadService.UploadedFileUrl</p>
}